# data
pandas
numpy
pymongo
cachetools

# evm
web3
eth-account
requests
kwenta

# dashboard
flask
plotly
dash
dash-bootstrap-components
dash-bootstrap-templates
dash-table
dash-enterprise-auth

# testing
ipython
jupyterlab
tqdm
